* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://marketplace.canva.com/EAFTQEWI-Ko/1/0/1600w/canva-black-sky-galaxy-stars-desktop-wallpaper-iWMZ0xN6KXs.jpg");
  background-size: 120%;
  background-size: cover;
  background-position: center;
  font-family: "ArcadeClassic", sans-serif;
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  color: whitesmoke;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}
.nav {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  align-items: start;
  padding-left: 25px;
  padding-top: 25px;
  border-right: 2px solid whitesmoke;
}
.main {
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.score {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;

  padding-top: 25px;
  border-left: 2px solid whitesmoke;
}

#rocket {
  font-size: 80px;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.2s;
}

#rocket:hover,
#rocket:active {
  transform: scale(1.2);
}
#playericon {
  color: whitesmoke;
  font-size: 30px;
  padding-right: 15px;
}

.playericon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid whitesmoke;
  height: 50px;
  border-radius: 5px;
  padding: 3px 15px;
}
.scoreboard {
  padding-bottom: 30px;
  text-align: center;
}
.store {
}
.btn {
  border: 2px solid whitesmoke;
  border-radius: 10px;
  width: 100px;
}
.multi,
.bonus,
.auto {
  margin-top: 25px;
  cursor: pointer;
  transition: all 0.2s;
}
.multi:hover,
.bonus:hover,
.auto:hover{
  transform: scale(1.2);
}
.time {
  font-size: 50px;
}
.playerinfo {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
}
.player {
  width: 100%;
}

#timer{
  display: none;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 999; /* Place it above other elements */
}

.info{
  cursor: pointer;
  transition: all 0.2s;
}
.hidden-paragraph {
  display: none;
  background-color: #fff; /* Background color of the paragraph */
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  color: black;
  word-spacing: 4px; /* Add space between words */
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
