* {
  margin: 0;
  padding: 0;
}

body {
  color: #00ff7f;
  font-family: "ArcadeClassic", sans-serif;
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 2px;
  height: 2px;
  animation: moveStar 5s linear infinite;
}

@keyframes moveStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}

#timer {
  color: whitesmoke;
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 50px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  word-spacing: 10px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: black;
  margin: 0;
}

.nav {
  color: #00ff7f;
  background-color: black;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 25px;
}

.main {
 
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.rightpanel {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.score {
  color: #00ff7f;
  background-color: black;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;

  padding-top: 25px;
}

.purchasehistory {
  height: 50%;
  text-align: center;
}

.logo {
  text-align: left;
  font-size: 50px;
  font-weight: 700;
}
.logo2 {
  display: none;
}
.the,
#logor {
  text-shadow: 1px 1px 1px #333, 1px 2px 1px #333, 1px 3px 1px #333,
    1px 4px 1px #333, 1px 5px 1px #333, 1px 6px 1px #333, 1px 7px 1px #333,
    1px 8px 1px #333, 1px 9px 1px #333, 1px 10px 1px #333,
    1px 18px 6px rgba(255, 255, 255, 0.2),
    /* Using the adjusted opacity */ 1px 22px 10px rgba(253, 252, 252, 0.1),
    /* Using the adjusted opacity */ 1px 25px 35px rgba(255, 255, 255, 0.1),
    /* Using the adjusted opacity */ 1px 30px 60px rgba(252, 252, 252, 0.2); /* Using the adjusted opacity */
  color: whitesmoke;
}

.Space {
  text-shadow: 1px 1px 1px #333, 1px 2px 1px #333, 1px 3px 1px #333,
    1px 4px 1px #333, 1px 5px 1px #333, 1px 6px 1px #333, 1px 7px 1px #333,
    1px 8px 1px #333, 1px 9px 1px #333, 1px 10px 1px #333,
    1px 18px 6px rgba(0, 255, 127, 0.2),
    /* Adjusted opacity to 0.2 */ 1px 22px 10px rgba(0, 255, 127, 0.1),
    /* Adjusted opacity to 0.1 */ 1px 25px 35px rgba(0, 255, 127, 0.1),
    /* Adjusted opacity to 0.1 */ 1px 30px 60px rgba(0, 255, 127, 0.2); /* Adjusted opacity to 0.2 */
  color: #00ff7f;
}

.clicker {
  text-shadow: 1px 1px 1px #333, 1px 2px 1px #333, 1px 3px 1px #333,
    1px 4px 1px #333, 1px 5px 1px #333, 1px 6px 1px #333, 1px 7px 1px #333,
    1px 8px 1px #333, 1px 9px 1px #333, 1px 10px 1px #333,
    1px 18px 6px rgba(255, 165, 0, 0.2),
    /* Adjusted opacity to 0.2 */ 1px 22px 10px rgba(255, 165, 0, 0.1),
    /* Adjusted opacity to 0.1 */ 1px 25px 35px rgba(255, 165, 0, 0.1),
    /* Adjusted opacity to 0.1 */ 1px 30px 60px rgba(255, 165, 0, 0.2); /* Adjusted opacity to 0.2 */
  color: #ffa500;
}

#rocket {
  color: whitesmoke;
  font-size: 100px;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 200px;
}

#rocket:hover,
#rocket:active {
  transform: scale(1.2);
}

#playericon {
  color: #00ff7f;
  font-size: 18px;
}
#playericonfa {
  margin-right: 10px;
}
.playericon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 5px;
  padding: 3px 15px;
}

.scoreboard {
  padding-bottom: 30px;
  text-align: center;
}

.btn {
  text-align: center;
  font-size: 22px;
  color: #001f3f;
  background-color: #ffa500;
  border: 2px solid #001f3f;
  padding: 5px 30px;
  border-radius: 10px;
  width: 120px;
  margin: 10px;
  transition: transform 0.2s; 
}

.btn.disabled {
  text-align: center;
 font-size: 22px;
 color: black;
 background-color: rgba(128, 128, 128, 0.158);
 border: 2px solid black;
 padding: 5px 30px;
 border-radius: 10px;
 width: 120px;
 margin: 10px;
 cursor: not-allowed;
 transition: none; 
}

.btn.disabled:hover,.btn.disabled:focus  {
 transform: none; 
}

.price,
.pricebonus,
.priceauto {
  font-size: 20px;
}

.multi,
.bonus,
.auto {
  margin-top: 25px;
  cursor: pointer;
  transition: all 0.2s;
}

.multi:hover,
.bonus:hover,
.auto:hover {
  transform: scale(1.2);
}

.time {
  font-size: 50px;
}

.playerinfo {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
}

.player {
  width: 100%;
}

#timer {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.textstart {
  margin-top: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: white;
  word-spacing:
   8px;
}
.logostr {
  margin-top: 50px;
  text-align: left;
  font-size: 80px;
  font-weight: 700;
}
.pstart {
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: bold;
}
li {
  margin-bottom: 10px; /* Adjust the margin as needed */
}
.startpage {
  background-image: url("https://opengameart.org/sites/default/files/space-2.png");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.alien {
  height: 70px;
  width: auto;
}
.astro {
  position: absolute;
  top: 10%;
  left: 5%;
  height: 250px;
  width: auto;
  animation: rotateEarth 60s linear infinite;
  z-index: 1;
}
.earth {
  position: absolute;
  top: 60%;
  left: 80%;
  width: 80px;
  height: auto;
}
.starting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 30px;
}
#soundicon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  padding-bottom: 50px;
  font-size: 26px;
  color: whitesmoke;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
#soundicon:hover {
  color: #ffa500;
}
@keyframes rotateEarth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.feature-name {
  color: #ffa500;
}
.feature-name1 {
  color: #00ff7f;
}
.info {
  cursor: pointer;
  transition: all 0.2s;
}
.hiden1 {
  padding: 50px;
  font-size: 20px;
}
#rocket0,
#rocket1,
#rocket2,
#rocket3,
#rocket4,
#rocket5 {
  transition: text-shadow 0.3s ease-in-out;
}

#rocket0 {
  color: bisque;
}
#rocket1 {
  color: pink;
}
#rocket2 {
  color: aqua;
}
#rocket3 {
  color: silver;
}
#rocket4 {
  color: gold;
}
#rocket5 {
  color: #00ff7f;
}

#rocket0:hover {
  text-shadow: 0 0 15px bisque;
}
#rocket1:hover {
  text-shadow: 0 0 15px pink;
}
#rocket2:hover {
  text-shadow: 0 0 15px aqua;
}
#rocket3:hover {
  text-shadow: 0 0 15px silver;
}
#rocket4:hover {
  text-shadow: 0 0 15px gold;
}
#rocket5:hover {
  text-shadow: 0 0 15px #00ff7f;
}
.costum {
  text-align: center;
  letter-spacing: 50px;
  font-size: 80px;
  line-height: 1.5;
}
.chose {
  font-size: 30px;
  padding-top: 40px;
}
.hidden-paragraph {
  display: none;
  background-color: rgba(145, 135, 135, 0.8);
  padding: 20px;
  border: 1px solid rgba(119, 111, 111, 0.8);
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  color: whitesmoke;
  word-spacing: 4px;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.startgame {
  border: 2px solid;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.startgame:hover {
  background-color: #ffa500;
  color: #001f3f;
}
#music {
  display: none;
}
@media (max-width: 768px) {
  * {
    overflow: hidden;
  }
  
  body {
    width: 100vw;
    overflow: hidden;
    height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .score {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 25%;
    width: 100%;
    border-left: none;
    align-items: center;
  }

  .btn {
    border-radius: 10px;
    width: 100px;
    display: inline-block;
    margin: 5px;
    font-size: 18px;
    padding: 5px;
  }

  .store {
    display: flex;
    flex-direction: row;
  }

  .nav {
    border-right: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
  }

  .info {
    display: none;
  }

  .h1store {
    display: none;
  }
  
  .scoreboard {
    margin-top: auto;
  }

  .main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
  }
  
  .player {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .scoreboard {
    display: none;
    margin: 0;
  }
  
  .pointsh2 {
    padding-right: 30px;
  }
  
  .playerinfo {
    padding-left: 25px;
  }
  .logo {
    display: none;
  }
  .logo2 {
    display: block;
    font-size: 40px;
  }
  #timer {
    width: 100%;
    font-size: 30px;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
  }
  #rocket {
    margin-top: 25px;
    font-size: 80px;
  }
  .price,
  .pricebonus,
  .priceauto {
    font-size: 16px;
  }
}
.btn:disabled {
  background-color: black;
  color: gray;
  cursor: not-allowed;
}
